<launch>  

  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>
  <!--added for testing-->
  <arg name="scan_topic"     default="scan"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!--added for testing-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="footprint_padding" value="0.01" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="3.0" />
    <param name="oscillation_timeout" value="30.0" />
    <param name="oscillation_distance" value="0.5" />
    <param name="planner_patience" value="1" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtle_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtle_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtle_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtle_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtle_navigation)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtle_navigation)/config/dwa_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
    <!--param name="global_costmap/global_frame" value="/map"/>
    <param name="global_costmap/robot_base_frame" value="/base_footprint"/>
    <param name="global_costmap/laser_scan_sensor/sensor_frame" value="/base_scan"/>
    <param name="global_costmap/laser_scan_sensor/topic" value="/scan"/-->    
    <!--param name="local_costmap/global_frame" value="/odom"/>
    <param name="local_costmap/robot_base_frame" value="/base_footprint"/>
    <param name="local_costmap/laser_scan_sensor/sensor_frame" value="/base_scan"/>
    <param name="local_costmap/laser_scan_sensor/topic" value="/scan"/>
    <param name="local_costmap/obstacle_layer/laser_scan_sensor/topic" value="/scan"/-->
  </node>

</launch>
