<launch>
  <!-- Arguments -->
  <arg name="scan_topic"     default="scan"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="use_map_topic" default="true"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
    <!-- Parameters-->  
    <param name="min_particles"             value="600"/>
    <param name="max_particles"             value="3000"/>
    <param name="kld_err"                   value="0.189"/>
    <!--default 0.01 -->
    <param name="kld_z"                     value="0.99"/>
    <param name="update_min_d"              value="0.06"/>
    <!--0.10 -->
    <param name="update_min_a"              value="0.25"/>
    <!--0.1 -->
    <param name="resample_interval"         value="3"/>
    <param name="transform_tolerance"       value="0.35"/>
    <!--0.35 -->
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="gui_publish_rate"          value="50.0"/>

    <!-- Topic Remapping-->
    <remap from="scan"                      to="$(arg scan_topic)"/>
    <param name="laser_max_range"           value="8.0"/>
    <param name="laser_min_range"           value="0.2"/>
    <param name="laser_max_beams"           value="2880"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="laser_model_type"          value="likelihood_field"/>
    <param name="odom_model_type"           value="diff"/>
    <!--default all alphas 0.1 -->
    <param name="odom_alpha1"               value="0.2"/>
    <!--Specifies the expected noise in odometry's rotation estimate from the rotational component of the robot's motion-->
    <param name="odom_alpha2"               value="0.1"/>
    <!--Specifies the expected noise in odometry's rotation estimate from translational component of the robot's motion-->
    <param name="odom_alpha3"               value="0.1"/>
    <!--Specifies the expected noise in odometry's translation estimate from the translational component of the robot's motion-->
    <param name="odom_alpha4"               value="0.2"/>
    <!--Specifies the expected noise in odometry's translation estimate from the rotational component of the robot's motion-->
    <param name="odom_frame_id"             value="odom"/>
    <param name="base_frame_id"             value="base_footprint"/>    
    <param name="use_map_topic"             value="$(arg use_map_topic)"/>
    <param name="tf_broadcast"              value="true"/>
    <!--Set this to false to prevent amcl from publishing the transform between the global frame and the odometry frame -->
    <param name="first_map_only"              value="false"/>
    <!--When set to true, AMCL will only use the first map it subscribes to, rather than updating each time a new one is received -->
  </node>

</launch>
