<launch>
  <!-- Arguments -->
  <arg name="model" default="junior"/>
  <arg name="map_file" default="$(find myrobot_navigation)/maps/gazebo_world_map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="open_teleop" default="false"/>
  <arg name="joy_type" default="xbox360"/> <!-- options: logitechf710, xbox360 -->
  <arg name="cmd_vel_topic_navi" default="cmd_vel/navi" />
  <arg name="cmd_vel_topic_joy" default="cmd_vel/joy_teleop" />
  <arg name="cmd_vel_base_topic" default="cmd_vel_mux"/>
  <arg name="odom_topic" default="odom" />

  <!-- local planner ros value definitions -->
  <!--arg name="local_planner" default="eband_local_planner"/>
  <arg name="local_planner_value" default="eband_local_planner/EBandPlannerROS"/> -->

  <arg name="local_planner" default="dwa_local_planner"/>
  <arg name="local_planner_value" default="dwa_local_planner/DWAPlannerROS"/> 
  
  <!-- <arg name="local_planner" default="teb_local_planner"/>
  <arg name="local_planner_value" default="teb_local_planner/TebLocalPlannerROS"/> -->

  <!-- global planner ros value definitions -->
  <arg name="global_planner" default="global_planner_params"/>
  <arg name="global_planner_value" default="global_planner/GlobalPlanner"/> 

  <!--arg name="global_planner" default="navfn_planner_params"/>
  <arg name="global_planner_value" default="navfn/NavfnROS"/> -->
  
  <!-- Map server --> 
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find myrobot_navigation)/launch/amcl.launch"/> 

  <!-- move_base -->
  <include file="$(find myrobot_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />  
    <arg name="global_planner" value="$(arg global_planner)"/>
    <arg name="global_planner_value" value="$(arg global_planner_value)"/>
    <arg name="local_planner" value="$(arg local_planner)" />
    <arg name="local_planner_value" value="$(arg local_planner_value)" />
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic_navi)" />
    <arg name="odom_topic" value="$(arg odom_topic)" />
  </include> 
  
  <!-- Joy -->
  <group if="$(arg open_teleop)">
    <include file="$(find myrobot_teleop)/launch/$(arg joy_type)_teleop.launch"/>
  </group>
  
  <!-- myrobot control system -->
  <include file="$(find myrobot_navigation)/launch/myrobot_control_system.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <include file="$(find myrobot_navigation)/launch/rviz_only.launch"/>  
  </group>

</launch>

