<launch>

  <arg name="nodelet_manager_name"  default="nodelet_manager_myrobot
  _control_sys"/> 
  <arg name="navi_twist_active" default="true"/>
  <arg name="joy_teleop_twist_active" default="true"/>

  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>

  <!-- velocity smoothers cluster -->
  <include file="$(find yocs_velocity_smoother)/launch/smoothers_cluster_controller.launch">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    <arg name="navi_twist_active" value="$(arg navi_twist_active)"/>
    <arg name="joy_teleop_twist_active" value="$(arg joy_teleop_twist_active)"/>
  </include>
  
  <!-- twist mux -->
  <include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux_controller.launch">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
  </include>

</launch>

