<!--
  controller launcher for the velocity multiplexer. (Recomanded to share same nodelet manager) 
 -->
<launch>

  <arg name="nodelet_manager_name"  default="nodelet_manager"/>
  <arg name="node_name" value="yocs_cmd_vel_mux"/>
  <arg name="config_file"           value="$(find yocs_cmd_vel_mux)/param/mux_configure.yaml"/>
  
  <!-- velocity mulitplexer -->
  <include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
    <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
    <arg name="node_name" value="$(arg node_name)"/>
    <arg name="config_file"           value="$(arg config_file)"/>

    <arg name="input_cmd_vel_topic0" value="cmd_vel/default"/>
    <arg name="input_cmd_vel_topic1" value="cmd_vel_smooth/navi"/>
    <arg name="input_cmd_vel_topic2" value="cmd_vel_smooth/joy_teleop"/>
    <arg name="output_cmd_vel" value="cmd_vel_mux"/>
  </include> 
</launch>