<!--
  Example standalone launcher for the velocity multiplexer.
  
  For best results you would usually load this into the core control system
  to avoid latency for reactive controllers. However for other apps, running
  it standalone with a similar configuration will also work.
 -->
<launch>

  <arg name="nodelet_manager_name"  value="nodelet_manager_mux"/>
  <arg name="node_name" value="yocs_cmd_vel_mux"/>
  <arg name="config_file"           value="$(find yocs_cmd_vel_mux)/param/mux_configure.yaml"/>

  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>
  
  <!-- velocity mulitplexer -->
  <include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
    <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
    <arg name="node_name" value="$(arg node_name)"/>
    <arg name="config_file"           value="$(arg config_file)"/>

    <arg name="input_cmd_vel_topic0" value="cmd_vel/default"/>
    <arg name="input_cmd_vel_topic1" value="cmd_vel_smooth/navi"/>
    <arg name="input_cmd_vel_topic2" value="cmd_vel_smooth/joy_teleop"/>
    <arg name="output_cmd_vel" value="cmd_vel_mux"/>
  </include> 
</launch>